.todoWeek {
  width: 92%;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  padding: 2% 2% 2% 6%;
  margin: 2% auto;
  text-align: left;
  background-color: #fff; }

.week {
  border: 1px solid #c0c0c0; }

.pure-g2 > div {
  width: 27.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em; }

.l-box2 {
  padding: 1em 2em; }

.bottomButton {
  margin: 1em auto 0em auto; }

.addButton {
  display: inline-block;
  font-size: 22px;
  line-height: 22px; }

.addButton:hover {
  color: #c0c0c0; }
