$main-color: #4A4A4A;


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  color: $main-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
body {
  text-align: center;

}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}


@import "navbar";
@import "home";
@import "week";
